<a href="https://colab.research.google.com/github/farkhanal/Bengkod/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [26]:
from google.colab import drive
drive.mount('/content/drive')
file_path = "/content/drive/My Drive/bengkod_github/ObesityDataSet.csv"
df = pd.read_csv(file_path, header=None)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
# Menampilkan 5 baris pertama
print("5 Baris Pertama Dataset:")
print(df.head())

5 Baris Pertama Dataset:
    0       1       2       3           4     5     6    7    8      9     10  \
0  Age  Gender  Height  Weight        CALC  FAVC  FCVC  NCP  SCC  SMOKE  CH2O
1   21  Female    1.62      64          no    no     2    3   no     no     2
2   21  Female    1.52      56   Sometimes    no     3    3  yes    yes     3
3   23    Male     1.8      77  Frequently    no     2    3   no     no     2
4   27    Male     1.8      87  Frequently    no     3    3   no     no     2

                               11   12   13         14                     15  \
0  family_history_with_overweight  FAF  TUE       CAEC                 MTRANS
1                             yes    0    1  Sometimes  Public_Transportation
2                             yes    3    0  Sometimes  Public_Transportation
3                             yes    2    1  Sometimes  Public_Transportation
4                              no    2    0  Sometimes                Walking

                   16
0          NObeyesdad
1       Normal_Weight
2       Normal_Weight
3       Normal_Weight
4  Overweight_Level_I

In [28]:
# Menampilkan informasi umum dataset
print("\nInformasi Dataset:")
print(df.info())

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2112 entries, 0 to 2111
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2098 non-null   object
 1   1       2103 non-null   object
 2   2       2100 non-null   object
 3   3       2101 non-null   object
 4   4       2107 non-null   object
 5   5       2101 non-null   object
 6   6       2104 non-null   object
 7   7       2100 non-null   object
 8   8       2102 non-null   object
 9   9       2107 non-null   object
 10  10      2106 non-null   object
 11  11      2099 non-null   object
 12  12      2104 non-null   object
 13  13      2103 non-null   object
 14  14      2101 non-null   object
 15  15      2106 non-null   object
 16  16      2112 non-null   object
dtypes: object(17)
memory usage: 280.6+ KB
None

In [29]:
# Menampilkan statistik deskriptif
print("\nStatistik Deskriptif:")
print(df.describe(include='all'))

Statistik Deskriptif:
          0     1     2     3          4     5     6     7     8     9     10  \
count   2098  2103  2100  2101       2107  2101  2104  2100  2102  2107  2106
unique  1395     4  1563  1519          6     4   809   638     4     4  1264
top       18  Male   1.7    80  Sometimes   yes     3     3    no    no     2
freq     124  1056    58    58       1386  1844   647  1183  1997  2054   441

          11    12    13         14                     15              16
count   2099  2104  2103       2101                   2106            2112
unique     4  1187  1131          6                      7               8
top      yes     0     0  Sometimes  Public_Transportation  Obesity_Type_I
freq    1705   404   552       1747                   1572             351

In [30]:
# Menampilkan jumlah baris dan kolom
print(f"\nJumlah Baris: {df.shape[0]}, Jumlah Kolom: {df.shape[1]}")

Jumlah Baris: 2112, Jumlah Kolom: 17

In [31]:
df.isnull().sum()

0     14
1      9
2     12
3     11
4      5
5     11
6      8
7     12
8     10
9      5
10     6
11    13
12     8
13     9
14    11
15     6
16     0
dtype: int64

In [32]:
# Cek missing values
print("\nMissing Values per Kolom:")
print(df.isnull().sum())

Missing Values per Kolom:
0     14
1      9
2     12
3     11
4      5
5     11
6      8
7     12
8     10
9      5
10     6
11    13
12     8
13     9
14    11
15     6
16     0
dtype: int64

In [33]:
# Cek data duplikat
print(f"\nJumlah Data Duplikat: {df.duplicated().sum()}")

Jumlah Data Duplikat: 18

In [34]:
# Cek unique values untuk setiap kolom
print("\nUnique Values per Kolom:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Unique Values per Kolom:
0: 1395 unique values
1: 4 unique values
2: 1563 unique values
3: 1519 unique values
4: 6 unique values
5: 4 unique values
6: 809 unique values
7: 638 unique values
8: 4 unique values
9: 4 unique values
10: 1264 unique values
11: 4 unique values
12: 1187 unique values
13: 1131 unique values
14: 6 unique values
15: 7 unique values
16: 8 unique values

In [35]:
# Visualisasi distribusi usia
plt.figure(figsize=(10,6))
sns.histplot(data=df, x='Age', bins=20, kde=True)
plt.title('Distribusi Usia')
plt.show()

ValueError: Could not interpret value `Age` for `x`. An entry with this name does not appear in `data`.